@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    
}

.card-color{
    background-color: #fff!important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)!important;
}

.bgs-gradient{
    background: radial-gradient(circle at 10% 20%, rgb(255, 131, 61) 0%, rgb(249, 183, 23) 90%);
}

@media (prefers-color-scheme: dark){
    .dark\:ring-dark-tremor-ring {
        --tw-ring-opacity: 0!important;
        
    }
    
}

.dark\:text-dark-tremor-content-emphasis {
    
    color: grey!important;
}


.data-title {
    font-size: 20px !important;
    padding: 5px;
    font-weight: bold !important;
}

.data-subtitle{
    padding: 5px !important;
    color: #000 !important;
}

.h-for-this{
    height: 130px;
}

.wind-img img{
    top: 0;
    width: 819px;
    height: 164px;
    object-fit: cover;
}